#btncolor{
    background-color: blueviolet;
    
}

#fondoLogin{
    background-image: url('https://serviciotecnicopj.files.wordpress.com/2021/05/servicio-tecnico-de-celulares-smartphonesperu-3-3.jpg');
    height: 100vw !important;
    
}

#fondoTransparente{
    background-color: rgba(255, 255, 255, 0.553); border-radius: 10px;

}

#letrasBlancas{
    color: #ffff;

}

#letrasRojas{
    color: red;

}
#letrasNegras{
    color: black;
}
.login{
    height: 68vh !important;
}
.card-body{
    margin-top: -48vw !important;
}

 body{
    overflow-x: hidden;
 }
  .footerr{
    position: absolute;
    bottom: 0vh;
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    height: 15%;
    min-height: 15%;
    max-height: 15%;
    display: flex;
    background-color: black;
    margin: 0;
    padding: 0;
    margin-top: -200vh;
    justify-items: center !important;
    justify-content: space-between;
    align-items: center;
  }
  .abajo{
    width: 50%;
    max-width: 50%;
    flex-basis: 50%;
    text-align: center;
    justify-content: space-between;
  }
  .abajo p{
  
    font-size: 20px;
    font-weight: 500;
  }
  .navs{
  
    width: 50%;
    max-width: 50%;
    flex-basis: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .ftp li{
    list-style: none;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  .ftp a{
    color: white;
    text-decoration: none;
  }
  .ftp{
    margin-bottom: 5%;
  }
  .ftp a:hover{
  color: #51D1F6;
  }
  .logo{
    position: absolute !important;
    display: block;
    left: 25vw !important;
    width: 90%;
    max-width:90% ;
    flex-basis:90%;
    height: 78px;
    max-height: 78px;
    min-height:78px ;
    left: 0;
    transform: translate(-50%,-120%);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}
.logo img{
    width: 50%;
    max-width:50% ;
    flex-basis: 50%;
    height:30vh;
    max-height:30vh;
    min-height:30vh ;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37) !important;
    backdrop-filter: blur(2px) !important;
    border: rgba(255,255,255, 0.18) !important;
    
}
